/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, body{
    width: 100%;
    min-height: 100%;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
main{
    min-height: 100vh;
}



/*  H  E  A  D  E  R  */

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header__mid--block ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__mid--block ul li{
    margin: 20px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header__mid--block a{
    color: rgb(26, 25, 25);
    font-weight: 700;
}

.header__right--block button{
    padding: 0.7rem 1.3rem;
    color: white;
    text-transform: uppercase;
    background: black;
    border: none;
    outline: none;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
}

.burger--icon div{
    background: black;
    margin: 10px;
    width: 30px;
    height: 2px;
}
.burger--icon{
    display: none;
}


/*  M  A  I  N  -- C  O  N  T  E  N  T  */
                
/*FLEX--BLOCKS*/  
        
.__flex--block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    min-height: 650px;
}
.__text--block{
    background: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    min-height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.__inside--text--block{
    max-width: 350px;
    margin: 0px 30px;
}

.__inside--text--block h1{
    line-height: 3rem;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.__inside--text--block p{
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(107, 107, 107);
    font-weight: 500;
}

.__flex--image{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 600px;
            flex: 1 1 600px;
    min-height: 300px;
}
.__flex--image img{
    max-width: 100%;
}

.__button--block{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}


.__button--block button{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}



.flex--container--2 .__text--block{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}


/*  F  O  U  R    B  L  O  C  K  S  */

.four--blocks{
    min-height: 500px;
    background: tomato;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.image--1{
    background-image: url('./images/photo--4.jpg');
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image--2{
    background-image: url('./images/photo--5.jpg');
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image--3{
    background-image: url('./images/photo--6.jpg');
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image--4{
    background-image: url('./images/photo--7.jpg');
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overwritten--content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 95%;
    width: 80%;
    margin: auto;
    gap: 20px;
}
.overwritten--content h2,
.overwritten--content p{
    text-transform: capitalize;
}

.white{
    color: white;
}
.read--more{
    border-top: 1px solid rgb(233, 233, 233);
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.read--more button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}



/*  O  F  F  E  R    S  E  C  T  I  O  N  */

.offers{
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 50px;
    gap: 50px;
}
.offer--block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin:0 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
}
.offer--block:nth-child(2){
    padding-top: 40px;
}

.offer--block img{
    margin-bottom: 50px;
}

.offer--block h2{
    margin-bottom: 20px;
}

.offer--block p{
    line-height: 25px;
}



/*  F  O  O  T  E  R  */


footer{
    min-height: 300px;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer--content{
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__left--block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100px;
}
.footer__nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
}
.footer__nav ul li a{
    color: white;
    text-transform: uppercase;
}

.__left--block--horizontal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__right--block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.footer__button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}


.footer__button button{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}




.footer__right--block p{
    color: white;
}








@media screen and (max-width: 1017px){
    .text--container--1{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .text--container--3{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}


@media screen and (max-width: 850px){
    footer{
        min-height: 500px;
    }
    .footer__left--block{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 50px;
    }
    .__left--block--horizontal{
        gap: 30px;
    }
    .footer--content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }
    .footer__right--block{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;
    }

    .header__mid--block,
    .header__right--block button{
        display: none;
    }
    .burger--icon{
        display: block;
    }

    header{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

}
